<!DOCTYPE html>
<html lang="en-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="jquery-3.4.1.js">
</head>
<body>
<form action="/update_author/?id={{ author.id }}" method="post">
    <input type="text" name='author_name' value="{{ author.name }}">
    <input type="text" name='author_age' value="{{ author.age }}">
    <select name='book' id='book' multiple>
        {% for book in book_list %}
            {% if book in author.book.all %}
                <option selected value="{{ book.id }}">{{ book.title }}</option>
            {% else %}
                <option value="{{ book.id }}">{{ book.title }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <input type="submit">
</form>
<script src="jquery-3.4.1.js"></script>
<script src="bootstrap-3.3.7/js/bootstrap.js"></script>
</body>
</html>