<!DOCTYPE html>
<html lang="en-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="jquery-3.4.1.js">
</head>
<body>
<form action="/upload_file/" method="post" enctype="multipart/form-data"><!-- enctype="multipart/form-data 必填 -->
    <input type="text" name = 'username'>
    <input type="file" name = 'file_name'>
    <input type="submit">
</form>
<script src="jquery-3.4.1.js"></script>
<script src="bootstrap-3.3.7/js/bootstrap.js"></script>
</body>
</html>